@import '/src/styles/vars';

.filter{
    display: inline;
}

.filter-container{
    width: 115%;
    height: 15vh;
    background-color: rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filter-container_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-container_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.filter-container_button{
    width: 15rem;

}

.filter-container_button button{
    margin-top: 0;
    font-size: 1.5rem;
    height: 3rem;
    border-radius: 1rem;
}