@import '/src/styles/vars';

.login {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 98rem;
    background-color:var(--yellow-component);
    align-items: center;
    justify-content: center;
}

.login-component {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0rem 0;
    align-items: center;
    justify-content: center;
    position: static;
    flex-direction: column;
    border-radius: 4rem;
    width: 110rem;
    height: 70%;
    background-color: var(--white);
}

.login-content {
    display: flex;
    border: 0.5rem solid var(--yellow-component);
    border-radius:  4rem;
    flex-direction: row;
    height: 95%;
    width: 95%;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-content_form {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-content_form h2 {
    color: var(--gray-text);
    font-size: var(--md);
    text-align: center;
    padding-bottom: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: var(--gray-text);
    font-size: var(--sm);
    padding:  0 5rem;
    padding-bottom: 0.5rem;
    
}

.form-group input {
    color: var(--gray-text);
    font-size: 2.2rem;
    padding:  0 5rem;
    border: 3px solid #ccc;
    border-radius: 1rem;
    height: 4rem;
    margin-bottom: 2rem;
}

.form-buton {
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-content_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.login-content_info img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem 0rem 0rem 3rem;
    width: 100%;
    height: 100%;
}


.form-control-text {
    height: 10rem;
}

#input-text {
    height: 10rem;
}