:root {
    --white: #ffffff;
    --black: #000000;
    --gray-tittle: #868686;
    --gray-text: #9C9C9B;
    --border-image: #ECECEC;
    --yellow-component: #FFDE59;
    --sm: 2.2rem;
    --md: 3.5rem;
    --lg: 5rem;
    --bold-text: bold;
}
