@import '/src/styles/vars';

.amount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.amount-targets{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.amount-title{
    padding-top: 8rem;
    padding-bottom: 6rem;
    color: var(--gray-tittle);
    font-size: var(--sm);

}

